.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.container h3{
    font-family:"Poppins" sans-serif;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 20px;
}

.lista-container{
    width: 50%;

}

.detalhes-container{
    width: 50%;
}

@media (max-width: 1000px) {
    .container{
        flex-direction: column;
    }

    .lista-container, .detalhes-container{
        width: 100%;
    }

    .detalhes-container{
        margin-top: 30px;
    }
    
}