.container-details {
    background-color: #fff;
    padding: 10px 15px;
    width: 80%;
    height: auto;
}

.nome-veiculo{
    color: #307FFF;
}

.container-marca-ano{
    display: flex;
}

.container-marca-ano div{
    width: 50%;

}

.descricao-veiculo{
    margin: 40px 0px;
    font-size: 15px;
}

.container-edit{
    border-top: 1px solid #747474;
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}

.container-edit img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.container-edit button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 3px;
    background-color: #6b6b6b;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}