.cabecalho-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 65px;
    background-color: #603FFF;
    align-items: center;
}

.cabecalho-titulo{
    margin-left: 25px;
    color: white;
}

.cabecalho-busca{
    width: 50%;
    height: 80%;

    border: none;
    border-radius: 5px;
    background-color: #4D33CC;
}

.cabecalho-busca::placeholder{
    color: #f2f2f2be;
    padding-left: 20px;
    font-size: 18px;
}

.cabecalho-busca:focus{
    color: white;
    box-shadow: 0 0 0 0 ;
    outline: 0;
    padding-left: 20px;
}