.busca-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20px;
    padding: 10px 0px;

    border-bottom: 1px solid #000;
}

.busca-container h2{
    font-family: sans-serif;
}

.add-veiculo{
    cursor: pointer;
}