.card-container {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 2px;
    background-color: #fff;

    cursor: pointer;
}

.informacoes-veiculo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
    height: 100%;
}

.informacoes-veiculo p {
    height: 25%;
    margin: 3px;
    margin-left: 15px;
}

.card-marca {
    font-weight: 400;
}

.card-nome-veiculo {
    color: #307fff;
    font-weight: 500;
}

.card-ano-veiculo {
    color: #acacac;
    font-weight: 500;
}

.status-veiculo {
    width: 25px;
    height: 25px;

    margin-right: 15px;
    background-color: #fff;

    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.ticket-venda {
    cursor: pointer;
    transition: 0.8;
}

.ticket-venda:hover {
    transform: scale(1.15);
}
